html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	background: #fff;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {color: #000; text-decoration: none;}

.head {
	height: 810px;
	background: #fff url(../img/head.jpg) no-repeat center;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
}

.head a.logo{
	font-size: 200px;
	color: #fff;
	opacity: 0.7;
	margin-top: 125px;
}
.head a.button{
	margin-top: 50px;
	font-size: 45px;
	background-color: #3396ff;
	padding: 8px 17px;
	border-radius: 20px;
	opacity: 0.9;
}
.head h2{
	margin-top: 105px;
	font-size: 32px;
	color: #cce5ff;
}
.head p{
	text-align: center;
	margin-top: 20px;
	font-size: 28px;
	color: #cce5ff;
}

.read-start, .read-center, .read-end{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
	padding: 105px;
}

.read-start h1, .read-center h1, .read-end h1{
	font-size: 32px;
}

.read-start p, .read-center p, .read-end p{
	width: 900px;
	margin-top: 30px;
	font-size: 25px;
}

.read-start{
	background-color: #7d0b22;
	opacity: 0.9;
}

.read-center{
	background-color: #ff5f0f;
	opacity: 0.9;
}

.read-end{
	background-color: #faf74d;
	opacity: 0.9;
}

.rev{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
	padding: 105px;
	background-color: #00bfff;
	opacity: 0.9;
}

.rev h1{
	font-size: 32px;
}

.rev h2{
	margin-top: 60px;
	font-size: 80px;
}

.rev p{
	margin-top: 25px;
	font-size: 25px;
}

.foot{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	background-color: #4d4d4d;
	opacity: 0.95;
}
.foot p{
	padding-bottom: 2px;
	padding-left: 20px;
}
.foot a img{
	padding-top: 4px;
	padding-left: 4px;
}
.prav {
	padding-left: 59%;
}

#banner{
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
	margin: 300px 15%;
	width: 900px;
	height: 180px;
	background-color: #007a8a;
	opacity: 0.98;
	z-index: 5;
	border-radius: 4px;
}

#banner h1{
	margin-top: 5px;
	font-size: 25px;
}

#banner p{
	padding-left: 25px;
	margin-top: 7px;
	font-size: 18px;
}
#banner #yes{
	font-size: 21px;
	margin-top: 13px;
	background-color: #3396ff;
	padding: 8px 17px;
	border-radius: 20px;
	opacity: 0.9;
}

#banner .not{
	font-size: 13px;
	margin-top: 13px;
	opacity: 0.9;
}